.board {
  display: grid;
  grid-template-columns: repeat(3, 80px);
  grid-gap: 10px;
  justify-content: center;
  margin: 20px auto;
  max-width: 260px; /* limita el ancho total */
}

@media (max-width: 500px) {
  .board {
    grid-template-columns: repeat(3, 1fr);
    max-width: 240px; /* 3 casillas de máximo 80px */
    gap: 8px;
    margin: 20px auto;
  }
}
